PORT=3000
DASHBOARD_V2_PORT=3001
DB_PROVIDER=postgres
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432
POSTGRES_DB=bot_ecosystem
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
MONGO_URI=mongodb://127.0.0.1:27017/public-bot-ecosystem
DEFAULT_GUILD_ID=
DEFAULT_PREFIX=.

TOKEN_MODERATION=
TOKEN_REGISTER=
TOKEN_STATS=
TOKEN_GUARD_MAIN=
TOKENS_DISTRIBUTOR=
TOKENS_VOICE_WELCOME=
TOKEN_ECONOMY=
TOKEN_UTILITY=
