PORT=3000
MONGO_URI=mongodb://127.0.0.1:27017/public-bot-ecosystem
DEFAULT_GUILD_ID=
DEFAULT_PREFIX=.

TOKEN_MODERATION=
TOKEN_REGISTER=
TOKEN_STATS=
TOKEN_GUARD_MAIN=
TOKENS_DISTRIBUTOR=
TOKENS_VOICE_WELCOME=
TOKEN_ECONOMY=
TOKEN_UTILITY=
